

/* Notes:
Tiled Backgrounds break the code
*/
@font-face {
  font-family: 'PKMN'; /* Define a name for your font */
  src: url('https://file.garden/ZlKCRJrkUEDiwwUh/so5g54.ttf') format('truetype'); 




/* BACKGROUND */

body {
	background: url('https://file.garden/ZlKCRJrkUEDiwwUh/Screenshot%202025-11-13%20132018.png') center center fixed;
	 background-size:100%;
	
	color: #98b4d2;
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(1, 1, 1, 0.0);
	border: none;
	box-shadow: none;
	border-radius: 10px;
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none;
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(4, 18, 53, 1);
	border: 1px solid #000418;
	border-top: 1px solid #000418;
	color:  #98b4d2;
	border-radius: 10px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgba(4, 18, 53, 1);
      border: 1px solid #000418;
	border-bottom: 1px solid #000418;
      border-top: 1px solid #000418;
	color:  #98b4d2;
      text-shadow: 1px 1px #000418;
	border-radius: 10px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color:  #98b4d2; !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: #00092d !important;
	border-bottom: none;
	color: #98b4d2 !important;
	border-radius: 10px;
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(4, 18, 53, 1) !important;
      border: 1px solid #000418;
	border-bottom: 1px solid #000418;
      border-top: 1px solid #000418;
	border-radius: 10px;
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #98b4d2
}



/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: rgba(4, 18, 53, 1) !important;
      border: 1px solid #000418 !important;
	border-bottom: 1px solid #000418 !important;
      border-top: 1px solid #000418 !important;
	border-radius: 10px;
	color: #98b4d2 !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: rgba(4, 18, 53, 1);
      border: 1px solid #000418 !important;
	border-radius: 10px;
      text-shadow: none !important;
	color: #98b4d2 !important;
}

/* ALERTS  */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(4, 18, 53, 1) !important;
	border: 1px solid #000418;
	color: #98b4d2;
	border-radius: 10px !important;
}

/* BIGGEST HEADER */

h1 {
	color: #98b4d2;
	font-size: 90px;
	text-align: center;
        font-family: 'PKMN',;
        text-shadow: 2px 2px #98b4d2;
}


/* MEDIUM HEADER */

h2 {
	color: #98b4d2;
	font-size: 20px;
	text-align: center;
      text-shadow: 1px 1px #98b4d2;
}


/* SMALL HEADER */

h3 {
	color: #98b4d2 !important;
      text-shadow: 1px 1px #98b4d2;
	font-size: 14px !important;
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #98b4d2 !important;
       text-shadow: 1px 1px #98b4d2;
        font-size: 26px !important;
        font-family: 'PKMN', ;
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(4, 18, 53, 1) !important;
	box-shadow: none !important;
	border: 1px solid #000418  !important;
	color: #98b4d2 !important;
	border-radius: 10px;
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #1c2b4b;
	color: #1c2b4b* !important;
	border-radius: 10px !important;
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: rgba(2,12,37,1);
	color: rgba(2,12,37,1) !important;
	border-radius: 10px !important;
}

/* ENERGY BAR TEXT */
.progress div {
	color: #98b4d2 !important;
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: #1c2b4c !important;
        color: #98b4d2 !important;
	border: 1px solid #000418  !important;
	font-size: 12px !important;
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: #192644 !important;
        color: #98b4d2 !important;
	border: 1px solid #000418  !important;
	font-size: 12px !important;
}

.s-chat-message__pinned /* Pinned Message */ {
	background: #041235 !important;
        color: #98b4d2 !important;
	border: 1px solid #000418  !important;
	font-size: 12px !important;
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #98b4d2 !important;
	font-size: 12px !important;
}

div#chatMessageContainer {
	border: 1px solid #000418  !important;

}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #041235 !important;
        color: #98b4d2 !important;
	border: 1px solid #000418  !important;
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(4, 18, 53, 0.5);
	border: 1px solid #000418  !important;
	border-collapse: separate;
	border-radius: 10px;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: rgba(4, 18, 53, 1) !important;
	color: #98b4d2 !important;
	border-radius: 10px;
      border-bottom: 1px solid #000418 !important;
      border-top: 1px solid #000418 !important;
      border: 1px solid #000418 !important;
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(28,43,75,1) !important;
        color: #98b4d2;
	border-radius: 10px;
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 10px !important;
}

td.right {
	border-radius: 10px !important;
}

/* IGNORE */
.right_odd {
	background: none !important;
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(4, 18, 53, 1);
	border-bottom: 1px solid #000418 !important;
      border-top: 1px solid #000418 !important;
      border: 1px solid #000418 !important;
	border-radius: 10px !important;
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(4, 18, 53, 1) !important;
	color: #98b4d2 !important;
	border: 1px solid #000418 !important;
	border-radius: 10px !important;
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(4, 18, 53, 1);
	border: 1px solid #000418 !important;
	border-radius: 10px !important;
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(28,43,75,1);
      color: #98b4d2;
        border-radius: 10px;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgb(28, 43, 76) !important;
	border: 1px solid #000418 !important;
	border-radius: 10px !important;
	color: #98b4d2 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: #041235 !important;
	color: #98b4d2  !important;
	border-radius: 10px !important;
}

.item {
	background: #1c2b4c !important;
	border: 1px solid #000418 !important;
	border-radius: 10px !important;
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #32405d !important;
}

div.slider.round::before /* Circle Part */ {
	background: #020e2b !important;
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #98b4d2 !important;
        text-shadow: none !important;
}

/* LINK COLOR */

a:link,
a:visited {
	color: #7493bb !important;
}

/* LINK HOVER COLOR */

a:hover {
	color: #7493bb !important;
}


/* BOX CONTAINER */

.boxcontainer {
	background: #041235;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(4, 18, 53, 1);
	color: #98b4d2;
	padding: 10px;
	border: 1px solid #000418  !important;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto;
}

.mediumbox {
	float: left;
	background: rgba(4, 18, 53, 1);
	color: #98b4d2;
	padding: 10px;
	border: 1px solid #000418  !important;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto;
}

.largebox {
	float: left;
	background: rgba(4, 18, 53, 1);
	color: #98b4d2;
	padding: 10px;
	border: 1px solid #000418  !important;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(4, 18, 53, 1);
	color: #98b4d2;
	padding: 10px;
	border: 1px solid #000418  !important;
	border-radius: 10px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s;
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(4, 18, 53, 1);
	color: #98b4d2;
	padding: 10px;
	border: 1px solid #000418  !important;
	border-radius: 10px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s;
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(4, 18, 53, 1);
	color: #98b4d2;
	padding: 10px;
	border: 1px solid #000418  !important;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s;
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px;
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #041235;
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #1c2b4c;
	border-radius: 10px;
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 0.8;
}

table#player img {
	opacity: 0.8;
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px; /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden;
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.ibb.co/fkPkK7G/bluegalaxylogo.png');
}

/* CAVE / MOUND IMAGES */

div.cave-grid>img /* Pregnant Lionesses */ {
	content: url('https://i.ibb.co/wr0732b/caves.png') !important;
}

a[href$="CAVE ID"]>div.cave-grid>img {
	content: url('https://i.ibb.co/wr0732b/caves.png') !important;
}

a[href$="lionoverview.php?id=PLAYER ID"]>div.cave-grid>img /* Pride Overview */ {
	content: url('https://i.ibb.co/wr0732b/caves.png') !important;
}

a[href$="unsorted.php?id=PLAYER ID"]>div.cave-grid>img /* Unsorted */ {
	content: url('https://i.ibb.co/wr0732b/caves.png') !important;
}

.mound-grid img /* Mound(s) */ {
	background: url("");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px;
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}

a:hover {
	color: #7493bb !important;
        text-shadow: 0px 0px 8px rgba(255,255,255,.8);
}


img.floatleft {
content:url('https://i.ibb.co/XyvbB4m/gift-2.png') !important;
border-radius: 0% !important; }
